* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../assets/imgs/stardew1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@font-face {
  font-family: 'Stardew';
  src: url('../assets/fonts/Stardew.ttf') format('truetype');
}

@font-face {
  font-family: 'stardew';
  src: url('../assets/fonts/stardew-valley.otf') format('truetype');
}
.titulo{
  font-size: 80px;
  font-family: 'Stardew';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  gap: 20px;
}

.header {
  font-family: 'stardew';
  font-size: 30px;
  color: #f6c445; /* amarelo estilo Stardew */
  width: fit-content;
  font-weight: normal;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* efeito sombra estilo madeira */
  text-shadow: 
    2px 2px 0 #8b5a2b,
    4px 4px 0 #5a3a1a;
}


.container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border-radius: 20%;
}

.conteudo{
  width: 70%;
  max-height: 600px;
  border-radius: 40px;
  background-color: rgba(204, 255, 255, 0.8);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 50px;
}

.conteudo::-webkit-scrollbar{
  display: none;
}

li{
  gap: 10px;
}